* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: black;
    margin: 0 auto;
    height: 100vh;
}

.mainDiv {
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
}

.largeDivPadding {
    padding-left: 80px;
    padding-right: 80px;
}

.darkBackground {
    background-color: #1f2937;
    color: #f9faf8;
}

h1 {
    font-size: 12px;
}

.grayBackground {
    background-color: #efe7eb;
}

.whiteBackground {
    background-color: white;
}

/* header styling */
.headerDivTop {
    padding-top: 1.2vh;
    display: flex;
    justify-content: space-between;
}

.headerLinks {
    display: flex;
    gap: 10px;
}

.headerDivTop .headerLinks h4 {
    font-size: 9px;
    font-weight: 100;
    color: rgb(170, 169, 169);
}

.headerDivBottom {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding: 7vh 0;
}

.headerLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.headerDivBottom p {
    font-size: 9px;
    font-weight: 100;
    color: rgb(200, 198, 198);
}

.headerRight {
    width: 50%;
    min-height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #f9faf8;
    width: 75px;
    height: 22px;
    font-size: 9px;
}

.headerLeft button {
    border: none;
}

/* blue box styling */
.random {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.random h4 {
    font-weight: 900;
}

.boxContainer {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding-bottom: 5vh;
}

.blueBox {
    width: 9vh;
}

.blueBoxOutline {
    border-radius: 8px;
    border: 2px solid #3882F6;
    width: 100%;
    height: 9vh;
    margin: 3px;
}

.blueBoxText p {
    text-align: center;
    font-size: 9px;
}

/* quote styling */
.quoteDiv {
    padding: 6vh 18vh;
}

.quoteDiv p {
    font-style: italic;
}

.quoteDiv h4 {
    font-size: 12px;
    text-align: right;
    font-weight: 900;
}

/* call to action styling */

.whitePadding {
    padding-top: 5.3vh;
    padding-bottom: 5.3vh;
    color: #f9faf8;
}

.blueInnerBox {
    background-color: #3882F6;
    padding: 2.5vh 6vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.blueInnerBox h4 {
    font-size: 11px;
}

.blueInnerBox p {
    font-size: 9px;
    font-weight: 100;
}

.blueInnerBox button {
    border: 1px solid #f9faf8;
}

/* footer styling */

.footer {
    font-size: 10px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 5.1vh;
}